# Virtual envs
.venv/
venv/
env/

# Caches e bytecode
__pycache__/
*.pyc
*.pyo

# Modelos gerados localmente
# só ignora se não estivermos no contexto de build Docker
!model/
model/*.tmp

# Arquivos de configuração sensíveis
.env
.env.*

# IDEs
.vscode/
.idea/
